body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
nav, section, .article-content, .article-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
}
.article-title {
  width: 80%;
}
.article-wrapper{
  background: linear-gradient(120deg, #0029FF 0%, #001270 100%), radial-gradient(100% 222% at 0% 100%, #CD04FF 0%, #FF004D 57%), linear-gradient(270deg, #F2096B 0%, #ED0B0B 100%), linear-gradient(300deg, #C478B3 0%, #EA2856 100%), radial-gradient(90% 110% at 100% 100%, #96A300 45%, #875901 100%), linear-gradient(6.54deg, #20ADFD 7%, #1700A4 50%);
  background-blend-mode: exclusion, color-dodge, color-burn, color-burn, color-dodge, normal;
  padding: 20px;
  margin: 0 10% 50px;
}
.article-content {
  width: 100%;
  background: #ffffff;
  color: #000000;
  padding: 0;
}
.article-right {
  margin: 30px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article-image {
  background-size: cover;
  min-height: 500px;
  max-height: 1000px;
  width: 100%;
  margin: 30px;
}
.article-content p {
  width: 500px;
  line-height: 2;
}
.article-title h2 {
  align-self: self-start;
  margin: 0 0 .3em;
  line-height: 0.8;
  letter-spacing: -8.5px;
  font-weight: 300;
  font-size: 7em;
}
h3 {
  margin: 0;
}

@media screen and (min-width:320px) and (max-width:640px) {
  nav, section, .article-content, .article-title{
    margin: 0;
    padding: 0 20px;
  }
  .article-title h2 {
    letter-spacing: -2px;
    font-size: 3.1em;
  }
  .article-wrapper{
    padding: 15px;
    margin: 0 15px 30px;
  }
  .article-content {
    flex-direction: column;
    padding: 0;
  }
  .article-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vw;
    margin: 0;
  }
  .article-right {
    margin: 15px
  }
  .article-content p {
    width: 100%;
  }
}

@media screen and (min-width:640px) and (max-width:1024px) {
  nav, section, .article-content, .article-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
  }
  .article-title {
    width: 80%;
  }
  .article-wrapper{
    background: linear-gradient(120deg, #0029FF 0%, #001270 100%), radial-gradient(100% 222% at 0% 100%, #CD04FF 0%, #FF004D 57%), linear-gradient(270deg, #F2096B 0%, #ED0B0B 100%), linear-gradient(300deg, #C478B3 0%, #EA2856 100%), radial-gradient(90% 110% at 100% 100%, #96A300 45%, #875901 100%), linear-gradient(6.54deg, #20ADFD 7%, #1700A4 50%);
    background-blend-mode: exclusion, color-dodge, color-burn, color-burn, color-dodge, normal;
    padding: 15px;
    margin: 0 15px 15px;
  }
  .article-content {
    width: 100%;
    background: #ffffff;
    color: #000000;
    padding: 0;
  }
  .article-right {
    margin: 15px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .article-image {
    margin: 15px;
  }
}
